.body-wrap {
    background: url("../images/background.jpg") no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 18px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: auto;
}

.container {
    max-width: 1030px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    padding-top: 46px;
    padding-bottom: 7px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    color: #FFFFFF;
    display: flex;
    position: relative;
}

.logo-img {
    padding-top: 5px;
    padding-bottom: 4px;
}

.logo-link:hover .logo-img {
    display: none;
    position: relative;
}

.logo-hover {
    position: absolute;
    left: 0;
    display: none;
}

.logo-link:hover .logo-hover {
    display: block;
}

.logo-text {
    margin-left: 8px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    text-transform: uppercase;
}

.logo-link:hover .logo-text {
    color: #F26522;
}

.milan {
    display: block;
    font-size: 29px;
    line-height: 29px;
}

.mail-to,
.call-to {
    color: #FFFFFF;
}

.mail-to:hover, .call-to:hover {
    color: #F26522;
}

.call-to {
    display: block;
    text-align: right;
    margin-top: 19px;
}

.tours {
    padding-top: 10px;
    padding-bottom: 10px;
}

.tour-list {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 37px 62px;
}

.tour-list-item {
    text-align: center;
}

.tour-item-link {
    color: #FFFFFF;
}

.tour-list-item:hover .tour-item-link {
    color: #F26522;
}

.img-wrap {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.tour-item-img {
    display: block;
    width: 300px;
    height: 220px;

    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(250, 250, 250, 1)) 1;
}

.tour-info-hover {
    padding: 8px 15px 12px 15px;
    background-color: #F26522;
    color: #FFFFFF;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    width: 100%;
    transition: bottom 0.5s;
    bottom: -56px;
    display: flex;
}

.tour-list-item:hover .tour-info-hover {
    bottom: 0;
}

.price {
    text-align: left;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.price-from {
    display: block;
    font-size: 10px;
    line-height: 10px;
    margin-top: 0;
    margin-bottom: 8px;
}

.view-details {
    font-size: 14px;
    line-height: 14px;
    margin-top: 0;
    margin-bottom: 0;
}

.view-details::after {
    content: url("../images/arrow.svg");
    width: 5px;
    height: 10px;
    margin-left: 15px;

}

.footer {
    padding-top: 39px;
    padding-bottom: 15px;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
}

.footer p {
    color: blueviolet;
}


